<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../../public/css/lib/bootstrap-5.0.2-dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../public/css/global.css" />
    <title>UMS</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark custom-gradient">
        <div class="container">
          <a class="navbar-brand" href="../pages/index.html"
            ><img
              src="../../public/images/logo.jpg"
              alt="UMS_logo"
              height="50"
              width="60"
          /></a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#myNavBar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="myNavBar">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a href="../pages/index.html" class="nav-link active">Home</a>
              </li>
              <li class="nav-item">
                <a href="../forms/signup.html" class="nav-link">Sign Up</a>
              </li>
              <li class="nav-item">
                <a href="../forms/login.html" class="nav-link">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <script src="../../public/css/lib/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
